table.amor {
    color:aquamarine;
    background-color: azure;
    font-family:Verdana, Geneva, Tahoma, sans-serif;	
}
table.ordem{
    color:blueviolet;
    background-color:antiquewhite;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}